In [2]:
from datetime import datetime as dt

In [1]:
import pandas as pd

In [ ]:
dff[dff['Indicator Name'] == yaxis_column_name]['Value']

In [3]:
df = pd.read_csv('./dash/verkaufte_artikel_2018.csv', parse_dates=True)

In [5]:
df.Datum = pd.to_datetime(df.Datum)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 8 columns):
Kanal                        2620 non-null object
Datum                        2620 non-null object
Bestellungen                 2620 non-null int64
Umsatz                       2620 non-null float64
RE1_abs                      2620 non-null float64
RE1_rel                      2620 non-null float64
AvgWarenkorbwert             2620 non-null float64
AnzahlArtikelproWarenkorb    2620 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 163.8+ KB

In [13]:
def filter_data(channel, metric, start_date, end_date):
    # sub_df = {}

    sub_df = df[(df.Kanal == channel) & (df.Datum >= start_date) & (df.Datum <= end_date)][['Kanal', 'Datum', metric]]
    return sub_df

In [7]:
def format_date(data):
    #Format date column
    print(data['Datum'])
    data['Datum'] = pd.to_datetime(data['Datum'], format='%Y-%m-%d')
    data['Datum'] = data['Datum'].dt.strftime('%d/%m/%Y')
    #format last column with metrics depends on column name
    if(data.columns[-1] == ('Umsatz' or 'RE1_abs' or 'AvgWarenkorbwert' or 'AnzahlArtikelproWarenkorb')):
        data[data.columns[-1]] = data[data.columns[-1]].map('{:.2f}€'.format)
    elif(data.columns[-1] == 'RE1_rel'):
        data[data.columns[-1]] = (data[data.columns[-1]]*100).map('{:.2f}%'.format)

In [15]:
f_data = filter_data('teufel-shop', 'Umsatz', '2018-01-01', '2018-01-10')

In [16]:
format_date(f_data)

0   2018-01-01
1   2018-01-02
2   2018-01-03
3   2018-01-04
4   2018-01-05
5   2018-01-06
6   2018-01-07
7   2018-01-08
8   2018-01-09
9   2018-01-10
Name: Datum, dtype: datetime64[ns]

In [17]:
f_data.head()

         Kanal       Datum     Umsatz
0  teufel-shop  01/01/2018   5855.11€
1  teufel-shop  02/01/2018  16989.30€
2  teufel-shop  03/01/2018  19535.74€
3  teufel-shop  04/01/2018  15086.28€
4  teufel-shop  05/01/2018  13950.99€

In [6]:
channel = df.Kanal.unique()
metric = 'Bestellungen'

In [8]:
import dash
from dash.dependencies import Input, Output, State
import dash_table
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

app = dash.Dash(__name__)

app.layout = html.Div([
    html.Div([
        dcc.Input(
            id='editing-columns-name',
            placeholder='Enter a column name...',
            value='',
            style={'padding': 10}
        ),
        html.Button('Add Column', id='editing-columns-button', n_clicks=0)
    ], style={'height': 50}),

    dash_table.DataTable(
        id='editing-columns',
        columns=[{
            'name': 'Column {}'.format(i),
            'id': 'column-{}'.format(i),
            'deletable': True,
            'editable_name': True
        } for i in range(1, 5)],
        data=[
            {'column-{}'.format(i): (j + (i-1)*5) for i in range(1, 5)}
            for j in range(5)
        ],
        editable=True,
    ),

    dcc.Graph(id='editing-columns-graph')
])


@app.callback(
    Output('editing-columns', 'columns'),
    [Input('editing-columns-button', 'n_clicks')],
    [State('editing-columns-name', 'value'),
     State('editing-columns', 'columns')])
def update_columns(n_clicks, value, existing_columns):
    if n_clicks > 0:
        existing_columns.append({
            'id': value, 'name': value,
            'editable_name': True, 'deletable': True
        })
    return existing_columns


@app.callback(
    Output('editing-columns-graph', 'figure'),
    [Input('editing-columns', 'data'),
     Input('editing-columns', 'columns')])
def display_output(rows, columns):
    return {
        'data': [{
            'type': 'heatmap',
            'z': [[row.get(c['id'], None) for c in columns] for row in rows],
            'x': [c['name'] for c in columns]
        }]
    }


# if __name__ == '__main__':
#     app.run_server(debug=True)

In [20]:
sub_df = {}
traces = [] 
for c in channel:
#     print( df[df.Kanal == c])
    sub_df[c] = df[df.Kanal == c]
#     print( sub_df[c])
    trace = go.Scatter(x=sub_df[c].Datum, y=sub_df[c][metric], mode='lines', name=metric )
    traces.append(trace)
    
    
# dataframe_collection = {} 

# for month_day in month_day_list:
#     new_data = np.random.rand(3,3)
#     dataframe_collection[month_day] = pd.DataFrame(new_data, columns=["one", "two", "three"])

# for key in sub_df.keys():
#     print("\n" +"="*40)
#     print(key)
#     print("-"*40)
#     print(sub_df[key].Datum)

========================================
teufel-shop
----------------------------------------
0      2018-01-01
1      2018-01-02
2      2018-01-03
3      2018-01-04
4      2018-01-05
5      2018-01-06
6      2018-01-07
7      2018-01-08
8      2018-01-09
9      2018-01-10
10     2018-01-11
11     2018-01-12
12     2018-01-13
13     2018-01-14
14     2018-01-15
15     2018-01-16
16     2018-01-17
17     2018-01-18
18     2018-01-19
19     2018-01-20
20     2018-01-21
21     2018-01-22
22     2018-01-23
23     2018-01-24
24     2018-01-25
25     2018-01-26
26     2018-01-27
27     2018-01-28
28     2018-01-29
29     2018-01-30
          ...
295    2018-10-23
296    2018-10-24
297    2018-10-25
298    2018-10-26
299    2018-10-27
300    2018-10-28
301    2018-10-29
302    2018-10-30
303    2018-10-31
304    2018-11-01
305    2018-11-02
306    2018-11-03
307    2018-11-04
308    2018-11-05
309    2018-11-06
310    2018-11-07
311    2018-11-08
312    2018-11-09
313    2018-11-10
314    2018-11-11
315    2018-11-12
316    2018-11-13
317    2018-11-14
318    2018-11-15
319    2018-11-16
320    2018-11-17
321    2018-11-18
322    2018-11-19
323    2018-11-20
324    2018-11-21
Name: Datum, Length: 325, dtype: object

========================================
teufel-ebay
----------------------------------------
325    2018-01-01
326    2018-01-02
327    2018-01-03
328    2018-01-04
329    2018-01-05
330    2018-01-06
331    2018-01-07
332    2018-01-08
333    2018-01-09
334    2018-01-10
335    2018-01-11
336    2018-01-12
337    2018-01-13
338    2018-01-14
339    2018-01-15
340    2018-01-16
341    2018-01-17
342    2018-01-18
343    2018-01-19
344    2018-01-20
345    2018-01-21
346    2018-01-22
347    2018-01-23
348    2018-01-24
349    2018-01-25
350    2018-01-26
351    2018-01-27
352    2018-01-28
353    2018-01-29
354    2018-01-30
          ...
620    2018-10-23
621    2018-10-24
622    2018-10-25
623    2018-10-26
624    2018-10-27
625    2018-10-28
626    2018-10-29
627    2018-10-30
628    2018-10-31
629    2018-11-01
630    2018-11-02
631    2018-11-03
632    2018-11-04
633    2018-11-05
634    2018-11-06
635    2018-11-07
636    2018-11-08
637    2018-11-09
638    2018-11-10
639    2018-11-11
640    2018-11-12
641    2018-11-13
642    2018-11-14
643    2018-11-15
644    2018-11-16
645    2018-11-17
646    2018-11-18
647    2018-11-19
648    2018-11-20
649    2018-11-21
Name: Datum, Length: 325, dtype: object

========================================
teufel-daparto
----------------------------------------
650    2018-01-01
651    2018-01-02
652    2018-01-03
653    2018-01-04
654    2018-01-05
655    2018-01-06
656    2018-01-07
657    2018-01-08
658    2018-01-09
659    2018-01-10
660    2018-01-11
661    2018-01-12
662    2018-01-13
663    2018-01-14
664    2018-01-15
665    2018-01-16
666    2018-01-17
667    2018-01-18
668    2018-01-19
669    2018-01-20
670    2018-01-21
671    2018-01-22
672    2018-01-23
673    2018-01-24
674    2018-01-25
675    2018-01-26
676    2018-01-27
677    2018-01-28
678    2018-01-29
679    2018-01-30
          ...
941    2018-10-23
942    2018-10-24
943    2018-10-25
944    2018-10-26
945    2018-10-27
946    2018-10-28
947    2018-10-29
948    2018-10-30
949    2018-10-31
950    2018-11-01
951    2018-11-02
952    2018-11-03
953    2018-11-04
954    2018-11-05
955    2018-11-06
956    2018-11-07
957    2018-11-08
958    2018-11-09
959    2018-11-10
960    2018-11-11
961    2018-11-12
962    2018-11-13
963    2018-11-14
964    2018-11-15
965    2018-11-16
966    2018-11-17
967    2018-11-18
968    2018-11-19
969    2018-11-20
970    2018-11-21
Name: Datum, Length: 321, dtype: object

========================================
partsrunner-shop
----------------------------------------
971     2018-01-01
972     2018-01-02
973     2018-01-03
974     2018-01-04
975     2018-01-05
976     2018-01-06
977     2018-01-07
978     2018-01-08
979     2018-01-09
980     2018-01-10
981     2018-01-11
982     2018-01-12
983     2018-01-13
984     2018-01-14
985     2018-01-15
986     2018-01-16
987     2018-01-17
988     2018-01-18
989     2018-01-19
990     2018-01-20
991     2018-01-21
992     2018-01-22
993     2018-01-23
994     2018-01-24
995     2018-01-25
996     2018-01-26
997     2018-01-27
998     2018-01-28
999     2018-01-29
1000    2018-01-30
           ...
1108    2018-05-18
1109    2018-05-19
1110    2018-05-20
1111    2018-05-21
1112    2018-05-22
1113    2018-05-23
1114    2018-05-24
1115    2018-05-25
1116    2018-05-28
1117    2018-05-29
1118    2018-06-05
1119    2018-06-08
1120    2018-06-11
1121    2018-06-19
1122    2018-06-25
1123    2018-07-03
1124    2018-07-13
1125    2018-07-20
1126    2018-07-23
1127    2018-08-17
1128    2018-08-27
1129    2018-08-29
1130    2018-09-03
1131    2018-09-05
1132    2018-09-14
1133    2018-09-20
1134    2018-10-16
1135    2018-10-19
1136    2018-11-05
1137    2018-11-19
Name: Datum, Length: 167, dtype: object

========================================
partsrunner-ebay
----------------------------------------
1138    2018-01-01
1139    2018-01-02
1140    2018-01-03
1141    2018-01-04
1142    2018-01-05
1143    2018-01-06
1144    2018-01-07
1145    2018-01-08
1146    2018-01-09
1147    2018-01-10
1148    2018-01-11
1149    2018-01-12
1150    2018-01-13
1151    2018-01-14
1152    2018-01-15
1153    2018-01-16
1154    2018-01-17
1155    2018-01-18
1156    2018-01-19
1157    2018-01-20
1158    2018-01-21
1159    2018-01-22
1160    2018-01-23
1161    2018-01-24
1162    2018-01-25
1163    2018-01-26
1164    2018-01-27
1165    2018-01-28
1166    2018-01-29
1167    2018-01-30
           ...
1433    2018-10-23
1434    2018-10-24
1435    2018-10-25
1436    2018-10-26
1437    2018-10-27
1438    2018-10-28
1439    2018-10-29
1440    2018-10-30
1441    2018-10-31
1442    2018-11-01
1443    2018-11-02
1444    2018-11-03
1445    2018-11-04
1446    2018-11-05
1447    2018-11-06
1448    2018-11-07
1449    2018-11-08
1450    2018-11-09
1451    2018-11-10
1452    2018-11-11
1453    2018-11-12
1454    2018-11-13
1455    2018-11-14
1456    2018-11-15
1457    2018-11-16
1458    2018-11-17
1459    2018-11-18
1460    2018-11-19
1461    2018-11-20
1462    2018-11-21
Name: Datum, Length: 325, dtype: object

========================================
partsrunner-daparto
----------------------------------------
1463    2018-01-01
1464    2018-01-02
1465    2018-01-03
1466    2018-01-04
1467    2018-01-05
1468    2018-01-06
1469    2018-01-07
1470    2018-01-08
1471    2018-01-09
1472    2018-01-10
1473    2018-01-11
1474    2018-01-12
1475    2018-01-13
1476    2018-01-14
1477    2018-01-15
1478    2018-01-16
1479    2018-01-17
1480    2018-01-18
1481    2018-01-19
1482    2018-01-20
1483    2018-01-21
1484    2018-01-22
1485    2018-01-23
1486    2018-01-24
1487    2018-01-25
1488    2018-01-26
1489    2018-01-27
1490    2018-01-28
1491    2018-01-29
1492    2018-01-30
           ...
1757    2018-10-22
1758    2018-10-23
1759    2018-10-24
1760    2018-10-25
1761    2018-10-26
1762    2018-10-27
1763    2018-10-28
1764    2018-10-29
1765    2018-10-30
1766    2018-10-31
1767    2018-11-01
1768    2018-11-02
1769    2018-11-03
1770    2018-11-04
1771    2018-11-05
1772    2018-11-06
1773    2018-11-07
1774    2018-11-08
1775    2018-11-09
1776    2018-11-10
1777    2018-11-11
1778    2018-11-12
1779    2018-11-13
1780    2018-11-14
1781    2018-11-15
1782    2018-11-16
1783    2018-11-17
1784    2018-11-18
1785    2018-11-19
1786    2018-11-20
Name: Datum, Length: 324, dtype: object

========================================
carmaster-ebay
----------------------------------------
1787    2018-01-14
1788    2018-01-15
1789    2018-01-16
1790    2018-01-17
1791    2018-01-18
1792    2018-01-19
1793    2018-01-20
1794    2018-01-21
1795    2018-01-22
1796    2018-01-23
1797    2018-01-24
1798    2018-01-25
1799    2018-01-26
1800    2018-01-27
1801    2018-01-28
1802    2018-01-29
1803    2018-01-30
1804    2018-01-31
1805    2018-02-01
1806    2018-02-02
1807    2018-02-03
1808    2018-02-04
1809    2018-02-05
1810    2018-02-06
1811    2018-02-07
1812    2018-02-08
1813    2018-02-09
1814    2018-02-10
1815    2018-02-11
1816    2018-02-12
           ...
2059    2018-10-17
2060    2018-10-18
2061    2018-10-20
2062    2018-10-21
2063    2018-10-22
2064    2018-10-23
2065    2018-10-24
2066    2018-10-25
2067    2018-10-26
2068    2018-10-27
2069    2018-10-28
2070    2018-10-29
2071    2018-11-01
2072    2018-11-02
2073    2018-11-03
2074    2018-11-04
2075    2018-11-05
2076    2018-11-06
2077    2018-11-07
2078    2018-11-08
2079    2018-11-10
2080    2018-11-11
2081    2018-11-12
2082    2018-11-14
2083    2018-11-15
2084    2018-11-16
2085    2018-11-17
2086    2018-11-18
2087    2018-11-19
2088    2018-11-20
Name: Datum, Length: 302, dtype: object

========================================
carmaster-daparto
----------------------------------------
2089    2018-01-04
Name: Datum, dtype: object

========================================
teufel-tyre24
----------------------------------------
2090    2018-01-01
2091    2018-01-02
2092    2018-01-03
2093    2018-01-04
2094    2018-01-05
2095    2018-01-06
2096    2018-01-07
2097    2018-01-08
2098    2018-01-09
2099    2018-01-10
2100    2018-01-11
2101    2018-01-12
2102    2018-01-13
2103    2018-01-14
2104    2018-01-15
2105    2018-01-16
2106    2018-01-17
2107    2018-01-18
2108    2018-01-19
2109    2018-01-20
2110    2018-01-21
2111    2018-01-22
2112    2018-01-23
2113    2018-01-24
2114    2018-01-25
2115    2018-01-26
2116    2018-01-27
2117    2018-01-28
2118    2018-01-29
2119    2018-01-30
           ...
2370    2018-10-15
2371    2018-10-16
2372    2018-10-17
2373    2018-10-18
2374    2018-10-19
2375    2018-10-20
2376    2018-10-21
2377    2018-10-22
2378    2018-10-23
2379    2018-10-24
2380    2018-10-25
2381    2018-10-26
2382    2018-10-27
2383    2018-10-28
2384    2018-10-29
2385    2018-10-30
2386    2018-10-31
2387    2018-11-08
2388    2018-11-09
2389    2018-11-11
2390    2018-11-12
2391    2018-11-13
2392    2018-11-14
2393    2018-11-15
2394    2018-11-16
2395    2018-11-17
2396    2018-11-18
2397    2018-11-19
2398    2018-11-20
2399    2018-11-21
Name: Datum, Length: 310, dtype: object

========================================
partsrunner-tyre24
----------------------------------------
2400    2018-01-02
2401    2018-01-03
2402    2018-01-04
2403    2018-01-05
2404    2018-01-09
2405    2018-01-11
2406    2018-01-12
2407    2018-01-15
2408    2018-01-17
2409    2018-01-18
2410    2018-01-19
2411    2018-01-22
2412    2018-01-23
2413    2018-01-24
2414    2018-01-26
2415    2018-01-27
2416    2018-01-29
2417    2018-01-30
2418    2018-02-01
2419    2018-02-06
2420    2018-02-10
2421    2018-02-15
2422    2018-02-19
2423    2018-02-20
2424    2018-02-21
2425    2018-02-22
2426    2018-02-23
2427    2018-02-26
2428    2018-02-27
2429    2018-02-28
           ...
2590    2018-10-05
2591    2018-10-08
2592    2018-10-09
2593    2018-10-12
2594    2018-10-15
2595    2018-10-16
2596    2018-10-17
2597    2018-10-18
2598    2018-10-19
2599    2018-10-21
2600    2018-10-22
2601    2018-10-23
2602    2018-10-24
2603    2018-10-25
2604    2018-10-27
2605    2018-10-29
2606    2018-11-07
2607    2018-11-08
2608    2018-11-09
2609    2018-11-10
2610    2018-11-11
2611    2018-11-12
2612    2018-11-13
2613    2018-11-14
2614    2018-11-15
2615    2018-11-16
2616    2018-11-17
2617    2018-11-19
2618    2018-11-20
2619    2018-11-21
Name: Datum, Length: 220, dtype: object

In [22]:
from datetime import datetime as dt

In [24]:
start_date=dt(2018, 11, 1)
end_date=dt(2018, 11, 3)

In [37]:
df[(df.Kanal == 'teufel-shop') & (start_date <= df.Datum) & (df.Datum <= end_date)]

,Kanal,Datum,Bestellungen,Umsatz,RE1_abs,RE1_rel,AvgWarenkorbwert,AnzahlArtikelproWarenkorb
304,teufel-shop,2018-11-01,152,13442.20,4021.44,0.299165,88.435526,3.7237
305,teufel-shop,2018-11-02,181,15990.01,4703.93,0.294179,88.342597,3.3039
306,teufel-shop,2018-11-03,97,8770.94,2655.53,0.302765,90.422062,3.8041

In [7]:
import datetime

import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly
from dash.dependencies import Input, Output
    
# pip install pyorbital
from pyorbital.orbital import Orbital
satellite = Orbital('TERRA')

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div(
    html.Div([
        html.H4('TERRA Satellite Live Feed'),
        html.Div(id='live-update-text'),
        dcc.Graph(id='live-update-graph'),
        dcc.Interval(
            id='interval-component',
            interval=1*1000, # in milliseconds
            n_intervals=0
        )
    ])
)


@app.callback(Output('live-update-text', 'children'),
              [Input('interval-component', 'n_intervals')])
def update_metrics(n):
    lon, lat, alt = satellite.get_lonlatalt(datetime.datetime.now())
    style = {'padding': '5px', 'fontSize': '16px'}
    return [
        html.Span('Longitude: {0:.2f}'.format(lon), style=style),
        html.Span('Latitude: {0:.2f}'.format(lat), style=style),
        html.Span('Altitude: {0:0.2f}'.format(alt), style=style)
    ]


# Multiple components can update everytime interval gets fired.
@app.callback(Output('live-update-graph', 'figure'),
              [Input('interval-component', 'n_intervals')])
def update_graph_live(n):
    satellite = Orbital('TERRA')
    data = {
        'time': [],
        'Latitude': [],
        'Longitude': [],
        'Altitude': []
    }

    # Collect some data
    for i in range(180):
        time = datetime.datetime.now() - datetime.timedelta(seconds=i*20)
        lon, lat, alt = satellite.get_lonlatalt(
            time
        )
        data['Longitude'].append(lon)
        data['Latitude'].append(lat)
        data['Altitude'].append(alt)
        data['time'].append(time)

    # Create the graph with subplots
    fig = plotly.tools.make_subplots(rows=2, cols=1, vertical_spacing=0.2)
    fig['layout']['margin'] = {
        'l': 30, 'r': 10, 'b': 30, 't': 10
    }
    fig['layout']['legend'] = {'x': 0, 'y': 1, 'xanchor': 'left'}

    fig.append_trace({
        'x': data['time'],
        'y': data['Altitude'],
        'name': 'Altitude',
        'mode': 'lines+markers',
        'type': 'scatter'
    }, 1, 1)
    fig.append_trace({
        'x': data['Longitude'],
        'y': data['Latitude'],
        'text': data['time'],
        'name': 'Longitude vs Latitude',
        'mode': 'lines+markers',
        'type': 'scatter'
    }, 2, 1)

    return fig


if __name__ == '__main__':
    app.run_server(debug=True)

ModuleNotFoundError: No module named 'pyorbital'

In [ ]:
!conda install pyorbital

In [1]:
import plotly.plotly as py
import plotly.graph_objs as go

# Create random data with numpy
import numpy as np

In [2]:


N = 500
random_x = np.linspace(0, 1, N)
random_y = np.random.randn(N)

# Create a trace
trace = go.Scatter(
    x = random_x,
    y = random_y
)

data = [trace]

py.iplot(data, filename='basic-line')